
.image-1{
    background-image: url("./images/products/teddy.jpeg");
    height: 500px;
    width: 100%;
    background-position: center;
}

.image-2{
    background-image: url("./images/products/camera.jpeg");
    height: 500px;
    width: 100%;
    background-position: center;
}

.image-3{
    background-image: url("./images/products/ori-meuble-tv-en-ch-ne-massif-jon-k-140-cm-3826_38206.jpeg");
    height: 500px;
    width: 100%;
    background-position: center;
}