$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-grey: #EAEAEA;
$colour-grey-light: #F6F6F6;
$colour-dark-grey: #5D5D5D;
$colour-box-shadow: #dbdbdb ;
$tie-and-dye: linear-gradient($colour-secondary, $colour-primary);